### Access Points ###

clients:

  -
    name: MyAP
    ip4: 123.345.567.789
    secret: MySecret
  # -
  #   name: MyOtherAP
  #   ip4: 123.345.567.789
  #   secret: MyOtherSecret
  # -
  #   name: TestAP with customized netmask & nastype
  #   ip4: 1.2.3.0
  #   secret: AnotherSecret
  #   netmask: 24
  #   nastype: other



  ## Usually no need to touch these two test entries ##
  ## Unless to change the shared secrets for security reasons  ##
  -
    name: TestLocal
    ip4: "{{ ansible_host }}"
    secret: testing123
  -
    name: LocalLoopback
    ip4: 127.0.0.1
    secret: testing123



