######################
### Shared secrets ###
######################

## Clients ##
secrets:
  loopback: testing123
  testlocal: testing123
  testap: testing123

## National/Federation Radius Proxies (FLR) ##
flr:
  secret: 

## Federation Registry ##
djnro:
  secret:


###################
### User Stores ###
###################
ldap:
  identity: cn=Manager,dc=example,dc=net
  password: MySecret

sql:
  password: 
  
## Static Test User
test_user_password: 


