##Clients
testlocal_secret: 
loopback_secret:
testap_secret:

## Backend
ldap_password:

## Static Test User
test_user_password: 

## FLR Proxy Shared secret(s)
flr_secret: 

## Federation Registry secret
djnro_secret: