######################
### Shared secrets ###
######################

## National/Federation Radius Proxies (FLR) ##
## Ask your National Roaming Operator (NRO) for this secret
flr:
  secret: MyFLRSecret

## NRO Switchboard, eg. eduroam.ubuntunet.net ##
## Send email to eduroam@ubuntunet.net to get this secret
switchboard:
  secret: MySwitchboardSecret


###################
### User Stores ###
###################
ldap:
  identity: cn=Manager,dc=example,dc=net
  password: MySecret

sql:
  password: 
  
## Static Test User
test_user_password: 


