{% for client in clients %}

client {{ client.name }} {
  ipaddr                          = {{ client.ip4 }}
  netmask                         = {{ client.netmask }}
  secret                          = {{ client.secret }}
  require_message_authenticator   = no
  shortname                       = {{ client.shortname }}
  nastype                         = {{ client.nastype }}
  virtual_server                  = {{ client.virtual_server }}
}

{% endfor %}