  ldap {
    server = "{{ ldap.server }}"
    identity = "{{ ldap.identity }}"
    password = "{{ ldap.password }}"
    basedn = "{{ ldap.base_dn }}"
    filter = "{{ ldap.filter }}"
    start_tls = no
  }
