  ldap {
    server = "{{ ldap_server }}"
    identity = "{{ ldap_identity }}"
    password = "{{ ldap_password }}"
    basedn = "{{ ldap_base_dn }}"
    filter = {% raw %}"{{ ldap_filter }}"{% endraw %}
    start_tls = no
  }
