server eduroam {

  authorize {
    auth_log
    suffix
    if ((Proxy-To-Realm == DEFAULT) && (User-Name =~ /.*@.*.{{ domain }}$/)) {
      update control {
        Proxy-To-Realm := NULL
      }
    }
    eap
  }

  authenticate {
    Auth-Type EAP {
    eap
    }
  }

  preacct {
    suffix
    if ((Proxy-To-Realm == DEFAULT) && (User-Name =~ /.*@.*.{{ domain }}$/)) {
      update control {
        Proxy-To-Realm := NULL
      }
    }
  }

  accounting {
  }

  post-auth {
    reply_log
    Post-Auth-Type REJECT {
      reply_log
    }
  }

  pre-proxy {
    attr_filter.pre-proxy
    pre_proxy_log
  }

  post-proxy {
    post_proxy_log
    attr_filter.post-proxy
  }
}

